.barraTemp{
  height: 200px;
  width: 200px;
  margin: auto;
  border-radius: 50%;
  overflow: hidden;
  transition: all 1s ease-in-out;
}
.cont{
  height: 100px;
  transition: all 1s ease-in-out;
  width: 200px;
}
.circulo_centro {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
  width: 150px;
  height: 150px;
  background-color: white;
  border-radius: 50%;
  margin: auto;
  position: relative;
  margin: -175px auto 50px;
}
.circulo_centro i {
  font-size: 40px;
}
.rectangulo{
  width: 200px;
  height: 100px;
  background-color: white;
  position: relative;
  margin: -125px auto 50px;
}
.data { 
  /* style={{fontSize: 22, position: 'relative', margin: '-125px auto 50px', textAlign: 'center', zIndex: 110}} */
  font-size: 22px;
  color: blue;
  font-weight: bold;
  position: relative;
  margin: -110px auto 10px;
  text-align: center;
  z-index: 110;
}